 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html { overflow:  hidden; }
h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.event-description {
    float: right;
}

#root {
    width: 100%;
    height: 100vh;
    background-color: #EFF1F2;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content:stretch;
    
}
.column-container {
    background-color:cyan ;
    min-width: 20%;
    max-width: 450px;
    height: 50%;
    margin: 20px;
    max-height: 70%;
    overflow-y: auto;
}
.tasks-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    
}
.task-container {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    width: 90%;
    min-height: 70px;
    background: #EFF1F2;
    
}
.task-container:active {
    background-color: lightgreen;
}
.addEventForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 240px;
}
input[type='file'] {
    display: none;
}

.file {
    width: 20%;
    margin: 10px 0;
    background:cyan;
    border-radius: 4px;
    padding:9px 11px ;
    color: white;
    text-align: center;
    cursor: pointer;
}
.textTitle,.textArea {
    width: 20%;
    background: #FFFFFF;
    border: 1px solid rgba(31,64,111,0.20);
    border-radius: 4px;
    padding:9px 11px ;
    color: #000000;
    outline:none;

}
.textArea {
    height: 40px;
}